@import '../../../node_modules/@binom/sdk-core/styles/core.scss';
@import '../../../node_modules/@binom/sdk-core/styles/material-icons.scss';

@import '../../../dist/binom/sdk-prism/styles/sdk-prism.scss';


.regular-border{
  border-color: dimgray !important;
}

.bn-fullscreen {
  width: 100vw !important;
  height: 100vh !important;
  position: fixed !important;
  z-index: 9999999999!important;
  top: 64px;
  left: 0;
  overflow: auto;
  overscroll-behavior: none;
  background-color: #111;
}